body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.score {
  margin: 10px;
  font-size: 25px;
  color: white;
}

.board {
  margin: 7px;
  position: relative;
}

.blocks {
  position: relative;
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  border-radius: 5px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.lane {
  border-radius: 5px;
  cursor: pointer;
  background: rgb(28 28 30);
}

.lane:hover {
  background: rgb(50, 50, 54);
}

.footer {
  align-self: stretch;
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgray;
  padding: 5px;
}

.blockShoot {
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px;
}

.blockShoot>div {
  flex-grow: 1;
}